@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #9FC587;
    font-family: 'Poppins', sans-serif;
}

/* Header attributes */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6C9457;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
}

header > span {
    font-size: 18px;
    font-weight: normal;
    color: #406711;
}

header > span > b {
    font-weight: normal;
    color: black;
}

header > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header > div > a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-decoration: none;
    color: black;

    background: #9FC587;
    border-radius: 20px;
    padding: 0 1rem;
}

header > div > a > img {
    height: 18px;
    width: 18px;
}

header > div > a:hover {
    background: #D9D9D9;
    transition: all 0.3s ease-in-out;
}

header > div > a.active {
    background: #D9D9D9;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px;
    margin-left: 280px;
    gap: 1rem;
}

.search-input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.4rem 1rem;
    background: #D9D9D9;
    border-radius: 20px;
    width: 390px;
    margin-top: 80px;
    
}

.search-input-wrapper > img {
    height: 15px;
    width: 15px;
}

.search-input-wrapper > input {
    border: none;
    background: transparent;
    width: 100%;
    outline: none;
    align-items: center;
    font-size: 1rem;
}

.currency-container {
    background: #D9D9D9;
    width: 800px;
    height: 300px;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}